a[href^="http"]:after,a[href^="http"]:visited:after{content:"(" attr(href) ")";font-size:10pt}

#toolbar, #nav-wrapper, #breadcrumb-wrapper, #block-print-block-print-block, .region-sidebar-first .block-menu, .region-sidebar-first .block-menu-block, #footer-panels-wrapper, #ui-global-footer {display:none;}
#site-name,#content-wrapper,table {width: 100%; margin: 0; float: none;}
 table { page-break-inside:auto }
    tr    { page-break-inside:avoid; page-break-after:auto }
    thead { display:table-header-group }
    tfoot { display:table-footer-group }
#site-name a {color: #000; font-size: 24px; text-decoration: none;}

/* AFR calendar field */
.site-name-accounting-and-financial-reporting .field-content.deadline-date {
  border: 1px solid black !important;
  float: left;
  margin-right: 5px;
  padding: 5px;
  width: auto;
}

/* don't print non-active slideshow items */
li.views_slideshow_cycle_hidden { display: none;}
.flexslider .slides li {
	list-style-image: none;
	list-style-type: none;
}