#site-name {
	float:left;
	a {
		font-family: inherit;
	}
}

#content {
	color: #150517; 
}

#footer-panels-wrapper{
	.region.region-three-33-first{
		width: 66.6666%;
	}
	.region.region-three-33-third{
		float:right;
	}
}

//Menu Block for Info for FO Staff page

.region-sidebar-first .menu-name-main-menu li{
	border-bottom: 1px solid rgb(255, 195, 68);
	padding: 10px;
	position: relative;
	&:after {
      content: ' ';
      background: #FFC344;
      height: 6px;
      width: 6px;
      position: absolute;
      bottom: -3px;
      right: 0;
    }
}

// Department & Unit List

.view-id-departments_units{
	h3{
		margin-top: 20px;
	}
	.item-list{
		float: left;
		width: 50%;
	}
	.item-list:nth-child(2n+1){
		clear:left;
	}
}

//Fix for header nav on GAO

.site-name-grant-accounting-office #branding {
	width: inherit;
}
