#site-name {
	float:left;
	a {
		font-family: inherit;
	}
}

#content {
	color: #150517; 
}

#breadcrumb-wrapper .container {
	min-height: 18px;
}

#footer-panels-wrapper{
	.region.region-three-33-first{
		width: 66.6666%;
	}
	.region.region-three-33-third{
		float:right;
	}
}

//Menu Block for Info for FO Staff page

.region-sidebar-first .menu-name-main-menu li{
	border-bottom: 1px solid rgb(255, 195, 68);
	padding: 10px;
	position: relative;
	&:after {
      content: ' ';
      background: #FFC344;
      height: 6px;
      width: 6px;
      position: absolute;
      bottom: -3px;
      right: 0;
    }
}

// Adding border for panel pane heading

.panel-pane h2 {
border-bottom: 1px solid rgb(255, 195, 68);
		position: relative;
		margin-bottom: 16px;
	&:after {
      content: ' ';
      background: #FFC344;
      height: 6px;
      width: 6px;
      position: absolute;
      bottom: -3px;
      right: 0;
    }
}

.view-staff-directory{
	.views-row{
		margin-bottom: 30px;
		clear: left;
	}
	.views-field{
		margin-left: 120px;
	}
	.views-field-field-photo{
		margin-left: 0px;
		margin-bottom: 30px;
		float: left;
	}
}

// Department & Unit List

.view-id-departments_units{
	h3{
		margin-top: 20px;
	}
}

//Fix for header nav on GAO

.site-name-grant-accounting-office #branding {
	width: inherit;
}

//Hide Book Nav on GAO

.site-name-grant-accounting-office .book-navigation{
	display:none;
}

// Featured Page on GAO

.pane-front-page-featured-content, #block-book-navigation{
	background-color: #D9EDF7;
	border: 1px solid #BCE8F1;
	border-radius: 4px;
	h1{
		font-size: 1.2em;
		line-height: 1.2em;
	}
	.block-title{
		text-transform: uppercase;
		font-size: 1.4em;
		padding: 10px 0;
	}
	h2{
		font-family: 'Trebuchet MS', sans-serif;
		line-height: 1.2em;
		a{
			text-transform: capitalize;
			text-decoration: none;
			&:hover,
			&:focus {
				text-decoration: underline;
				color: inherit;
			}
		}
	}
	.node {
	margin-bottom:0;
	}
}
