
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
 
#name-and-slogan {
  float: left;
  margin-bottom: 10px;
  margin-top: 30px;
  width: 100%;
}

#nav-wrapper {
  .container {
    background: #242424;
    @include background-image(linear-gradient(#313131, #242424));
    @include box-shadow(rgba(200,200,200,0.25) 0px 2px 3px);
    clear: both;
    overflow: auto;
    padding: 5px;
    text-align: right;
    width: 100%;
  }
  
  li {}
  
  a {
  color: #E0E0E0;
    font-size: 1em;
    vertical-align: middle;
    
    &:hover,
    &:focus {
    color: #FFFFFF;
    }
  }
}

// Arrange bottom panes on GAO front page
.site-name-grant-accounting-office { 
  .pane-gao-announcements, .pane-1 {
    float: left;
    width: 50%;
  }
}

// UBill Slider
.site-name-university-billing-office {
  .flexslider {
    background: #F5F5F5;

    .views-field-body {
      float: right;
      padding-left: 15px;
      padding-right: 18px;
      width: 40%;

      h3 {
        margin-bottom: 5px;
      }
    }

    .views-field-field-photo {
      float: left;
      width: 60%;
    }

    li {
      background-color: #F5F5F5;
    }
  }

  .flex-direction-nav li {
    .prev {
      left: -18px;
    }

    .next {
      right: -18px;
    }
  }

  .flex-pauseplay span {
    color: #086782;

    &:hover {
      cursor: pointer;
    }
  }
}