
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete 
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

#name-and-slogan {
  float: left;
  margin-bottom: 10px;
  margin-top: 30px;
  width: 100%;
}

#main-content {
  margin-left: 20px;
}

#nav-wrapper {
  .container {
    background: #242424;
    @include background-image(linear-gradient(#313131, #242424));
    @include box-shadow(rgba(200,200,200,0.25) 0px 2px 3px);
    clear: both;
    overflow: auto;
    padding: 5px;
    text-align: right;
    width: 100%;
  }
  
  li {}
  
  a {
	color: #E0E0E0;
    font-size: 1em;
    vertical-align: middle;
    
    &:hover,
    &:focus {
	  color: #FFFFFF;
    }
  }
}

#research-link {
  float: left;
  margin-right: 10px;
  text-transform: uppercase; 
  margin-top: 2px;
}

#depts-links-top {
  margin: 0;
  float: right;
  a {
    height: 100%;
    padding: 0 4px;
    &:hover {
      color: #000;
      background-color: #FFC344;
      height: 100%;
      @include border-radius(5px);
    }
  }
  li {
    display: inline;
    margin: 0 5px;
    border-left: 1px solid #FFC344;
    padding-left: 10px;
    &.first {
      border-left: none;
    }
  }
}

.view-id-departments_units h3 {
    margin-top: 20px;
}

// Front page slideshows
.front .view-slideshow {
  margin-right: -10px;

  .flex-nav-container {
    margin-right: -10px;
  }
}

// Arrange bottom panes on GAO front page
.site-name-grant-accounting-office #panels-ipe-regionid-two_66_33_bottom .panels-ipe-portlet-wrapper {
  float: left;
  width: 50%;
}